.top-brands {
    padding-top: 30px;
}

.top-brands-cover {
    height: 150px;
    width: 150px;
    border-radius: 30%;
    background-color: var(--primary-bg);
    box-shadow: var(--collection-shadow);
}

.top-brands-cover-image {
    border-radius: inherit;
    height: 100%;
    width: 94%;
    object-fit: cover;
}